.top_image {
    width: 100vw;
    height: 600px;
    object-fit: cover;
}
h1 {
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;
}
.profile_image {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 846px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 14px;

}
.box1 {
    display: flex;
}
.bicycle_box {
    display: flex;
    justify-content: center;
    text-align: center;
}
.box2 {
    display: flex;
    margin: auto;
    
}
.box3 {
    display: flex;
   
}
.bicycle_image {
    width: 270px;
    display: block;
}
